#slide{
    border: 1px solid black;
    width: 640px;
    height: 350px;
    margin-left: 135px;
    margin-top: 30px;
}

#head{
height: 70px;
width: 400px;
margin-left: 240px;
margin-top: -90px;
position: relative;

background-color: white;

}

#pic_slide{
    height: 100%;
    width: 100%;
}